@font-face {
  font-family: 'Gotham-Medium';
  src: url('GOTHMMED (1).eot'); /* IE9 Compat Modes */
  src: url('GOTHMMED (1).eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GOTHMMED (1).woff') format('woff'), /* Modern Browsers */
       url('GOTHMMED (1).ttf')  format('truetype'), /* Safari, Android, iOS */
       url('GOTHMMED (1).svg#bdc473fae2f64b1c45b8886bcff81bae') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Bernina Sans';
  src: url('Just Another Foundry - BerninaSans-Regular (1).eot'); /* IE9 Compat Modes */
  src: url('Just Another Foundry - BerninaSans-Regular (1).eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Just Another Foundry - BerninaSans-Regular (1).woff') format('woff'), /* Modern Browsers */
       url('Just Another Foundry - BerninaSans-Regular (1).ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Just Another Foundry - BerninaSans-Regular (1).svg#71a2c2b3eb6b1f5a5b99407f0a18b6a6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Bernina Sans Light';
  src: url('Just Another Foundry - BerninaSans-Semibold (1).eot'); /* IE9 Compat Modes */
  src: url('Just Another Foundry - BerninaSans-Semibold (1).eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Just Another Foundry - BerninaSans-Semibold (1).woff') format('woff'), /* Modern Browsers */
       url('Just Another Foundry - BerninaSans-Semibold (1).ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Just Another Foundry - BerninaSans-Semibold (1).svg#7c6a4d651e4b68c92f859711c2c0db90') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

