@font-face {
    font-family: "Gotham";
    src: url("../assets/fonts/Gotham.ttf");
}
@font-face {
    font-family: "Bernina";
    src: url("../assets/fonts/Bernina.ttf");
}

.container{
    width: 19%;
    height: 100%;
    margin: 0 auto;
}
.row{
    margin-top: 20px;
}
.title{
    margin-left: 15px;
    border:2px;
    font-family: Gotham;
    font-size: 24pt;
    color: #35373a;
}
.clr{
    -webkit-text-fill-color: green;
}
label {
    color: #3CB18A;
    font-family: Bernina;
    font-size: 10pt;
}
h3 {
    color: #3CB18A;
    font-family: Bernina;
    font-size: 10pt;
}
input[type=text],
input[type=email],
input[type=password] {
    background: transparent;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
}

*:focus {
    outline: none;
}
.login {
    text-align: center;
    font-size: 17pt;
    font-family: Bernina;
    color: #3CB18A;
    cursor: pointer;
    margin-top: 26px;
}