.container {
    width: 27%;
    background-color: white;
    margin: 0 auto;
    font-family: 'Bernina';
}
.row {
    margin-top: 26px;
    margin-bottom: 20px;
}
.title {
    font-family: Gotham;
    font-size: 17pt;
    color: #35373a;
    text-align: center;
    margin-top: 24%;
}
.clr {
    -webkit-text-fill-color: green;
}
label,
button {
    color: #3CB18A;
    font-family: Bernina;
    font-size: 10pt;
}
.radio label,
.header {
    color: #35373A;
}
input[type=text],
input[type=email],
input[type=password] {
    background: transparent;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
    font-family: Bernina;
    font-size: 13pt;
}
input[type=email],
input[type=password] {
    width: 96%;
    margin-top: 10px;
}

input#ldsusername  {
    width: 100%;
    margin-top: 10px;
}
*:focus {
    outline: none;
}
input[type=radio] {
    vertical-align: middle;
    border: 0px;
    width: 8.5%;
    height: 1.5em;
    margin-top: -1px;
}
.login {
    text-align: center;
    font-size: 17pt;
    font-family: Bernina;
    color: #3CB18A;
    cursor: pointer;
    margin-top: 26px;
}

form {
 margin-left: 4%;
}


input[type='radio'] {
 -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: 1px solid #3CB18A;
  border-radius: 50%;
  outline: none;
}

input[type='radio']:hover {
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}
input[type='radio']:checked:before {
  background:green;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    .container {
        width: 100%;
        background-color: white;
        margin: 0 auto;
    }
    .title {
        margin-top: 0%;
        margin-bottom: 20px;
    }
    form{margin-left: 0;}
    form > div{width:100%; float: left;}
    form > .row{margin:0 0 10px 0;}
    form > .row > div label{margin-left: 5px;}
    .mat-input-container{width: 100%; float: left; display: block;}
    form > .login{margin-top: 20px;}

    label.header{color: #cbd1cf;}
    label{font-size: 13pt; width: 100%; float: left; text-align: left;}
    .radio.form-group label{width:100%; float: left; text-align: left; margin: 10px 0;}
    .radio.form-group label > *{float: left;}
    .radio.form-group label span{line-height: 20px; margin-left: 5px;} 
    .radio.form-group label input:last-child{border:none;}

}/*@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px*/

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .container {
        width: 100%;
        background-color: white;
        margin: 0 auto;
    }
    .title {
        margin-top: 0%;
        margin-bottom: 20px;
    }
    form{margin-left: 0;}
    form > div{width:100%; float: left;}
    form > .row{margin:0 0 10px 0;}
    form > .row > div label{margin-left: 5px;}
    .mat-input-container{width: 100%; float: left; display: block;}
    form > .login{margin-top: 20px;

    label.header{color: #cbd1cf;}
    label{font-size: 13pt; width: 100%; float: left; text-align: left;}
    .radio.form-group label{width:100%; float: left; text-align: left; margin: 10px 0;}
    .radio.form-group label > *{float: left;}
    .radio.form-group label span{line-height: 20px; margin-left: 5px;} 
    .radio.form-group label input:last-child{border:none;}
}/*@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)*/

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
.container{width: 75%;}
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}