@font-face {
    font-family: "Gotham";
    src: url("../assets/fonts/Gotham.ttf");
}
@font-face {
    font-family: "Bernina";
    src: url("../assets/fonts/Bernina.ttf");
}
.container {
    width: 24%;
    background-color: white;

}
.row {
        margin-top: 27px;
    margin-bottom: 20px;
}
.title {
    font-family: Gotham;
    font-size: 16pt;
    color: #35373a;
    text-align: center;
    margin-top: 24%;
}
.clr {
    -webkit-text-fill-color: green;
}
label,
button {
    color: #3CB18A;
    font-family: Bernina;
    font-size: 10pt;
}
.radio label,
.header {
    color: #35373A;
}
input[type=text],
input[type=email],
input[type=password] {
    background: transparent;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
}
input[type=email],
input[type=password] {
    width: 96%;
    margin-top: 10px;
}

input#ldsusername  {
    width: 100%;
    margin-top: 10px;
}
*:focus {
    outline: none;
}
input[type=radio] {
    vertical-align: middle;
    border: 0px;
    width: 8.5%;
    height: 1.5em;
    margin-top: -1px;
}
.login {
    text-align: center;
    font-size: 17pt;
    font-family: Bernina;
    color: #3CB18A;
    cursor: pointer;
}
/*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}*/