<table class="container" align="center">
    <div class="title">
        <h3>Admin Sign Up</h3>
    </div>
    <form>
        <div class="row">
            <label for="email">Email</label>
            <div>
                <input [(ngModel)]="adminUser.email" class="form-control" name="email" id="email" placeholder="Email" type="email" required="required">
            </div>
        </div>
        <div class="row">
            <label for="password">Password</label>
            <div>
                <input [(ngModel)]="adminUser.password" class="form-control" name="password" id="password" placeholder="Password" type="password" required="required">
            </div>
        </div>
        <div class="row">
            <label for="ldsusername">LDS.org username</label>
            <div>
                <input [(ngModel)]="adminUser.ldsusername" name="ldsusername" id="ldsusername" placeholder="LDS.org username" type="text" required="required">
            </div>
        </div>
        <div class="row">
            <div>
                <label class="header">Where will you be using the platform?</label>
            </div>
        </div>
        <div class="row">
            <div class="radio form-group">
                <label for="areaunit">
                    <input type="radio" [(ngModel)]="adminUser.unittype" name="unittype" id="areaunit" value="areaunit" > Area Unit #
                    <input type="text"   [hidden]=" adminUser.unittype != 'areaunit'"  name="unitnumber" id="areaunit" test1="" (userUpdated)="handleUserUpdated($event)">
                </label>
            </div>
            <br/>
             <div class="radio form-group">
                <label for="stakeunit">
                    <input type="radio" [(ngModel)]="adminUser.unittype" name="unittype" id="stakeunit" value="stakeunit" > Stake Unit #
                    <input type="text"   [hidden]=" adminUser.unittype != 'stakeunit'"  name="unitnumber" id="stakeunit" test1="" (userUpdated)="handleUserUpdated($event)">
                </label>
            </div>
             <br/>
           <div class="radio form-group">
                <label for="wardunit">
                    <input type="radio" [(ngModel)]="adminUser.unittype" name="unittype" id="wardunit" value="wardunit" >Ward Unit #
                    <input type="text"   [hidden]=" adminUser.unittype != 'wardunit'"  name="unitnumber" id="wardunit" test1="" (userUpdated)="handleUserUpdated($event)">
                </label>
            </div>
            <br/>
            <div class="radio form-group">
                <label for="branchunit">
                    <input type="radio" [(ngModel)]="adminUser.unittype" name="unittype" id="branchunit" value="branchunit" > Branch #
                    <input type="text"  [hidden]=" adminUser.unittype != 'branchunit'"  name="unitnumber" id="branchunit" test1="" (userUpdated)="handleUserUpdated($event)">
                </label>
            </div>
        </div>
        <!--<div *ngFor="let unit of units">
                  <input type="radio" [(ngModel)]="registerCredentials.platform" ng-model="all" name="platform" class="platform" id="platform" [value]="unit" required="required">
                  {{unit}}
                  <input class="row" type="text" [(ngModel)]="registerCredentials.unit" ng-disabled="all" name="unit" id="unit">
                </div>                   -->
        <div class="login">
            <!--<a (click)="register()" class="row btn btn-default" type="submit" name="action" [routerLink]="['./signup']">Create Account</a>-->
            <input type="submit" name="action" (click)="registerAdmin()" class="row btn btn-default" value="Create Account" [routerLink]="['./signup']">
        </div>
    </form>
</table>
