* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Bernina';
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:focus {
  outline: none;
}

button,
hr,
input {
  overflow: visible;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

progress,
sub,
sup {
  vertical-align: baseline;
}

body,
sub,
sup {
  position: relative;
}

article,
aside,
body,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

.lgbtn {
  display: inline-block;
  margin-top: 35px;
  padding: 15px;
  max-width: 100%;
  height: 80px;
  border: 2px solid #3CB18A;
  border-radius: 40px;
  background-color: #3CB18A;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 34px;
  text-align: center;
  width: 100%;
}

.lgbtn:hover {
  border: 2px solid #3CB18A;
  background: #fff;
  color: #3CB18A;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
  font-size: 17px;
  font-family: 'Bernina', sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h2,
h3 {
  font-weight: 500;
  color: #35373A;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-size: 2em;
}

section {
  display: flex;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 800px;
  width: 100%;
}

.grid {
  margin-top: 20px;
}

.store-badge {
  margin: auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 10px;
  width: 45%;
  border: none !important;
  border-radius: 10px;
}

.store-icon {
  margin-right: 10px;
}

section.reverse {
  display: flex;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.one-half,
.section-form,
.two-half {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.section-form {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 60px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.text-wrapper {
  padding-right: 20px;
  padding-bottom: 60px;
}

.one-half,
.two-half {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 7%;
  min-height: 800px;
  width: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-form {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 60px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.section-form h3 {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 36px;
  font-family: Gotham, sans-serif;
}

.form-wrapper {
  margin: 0 auto;
  padding: 20px 0;
  width: 476px;
  text-align: left;
}

.form label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #3CB18A;
  text-align: left;
  font-size: 15px;
}

.radio-label span {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #35373A;
  padding-left: 35px;
  text-align: left;
  font-size: 17px;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"] {
  margin: 0 auto;
  padding: 0 0 10px 0 !important;
  border: none;
  border-bottom: 1px solid #E8E9EB;
  border-radius: 0px;
  background-color: #FFF;
  font-size: 17px;
  width: 100%;
}

.form input[type="text"].unitnumber {
  width: 90%;
  float: left;
  padding-left: 25px !important;
  line-height: 30px;
}

.clr {
  clear: both;
}

.bigbtn {
  margin-top: 35px;
  padding: 20px 0;
  border: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #FFF;
  color: #3CB18A;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  width: 100%;
  float: left;
  text-align: center;
}

input[type=radio] {
  vertical-align: middle;
  border: 0px;
  width: 8.5%;
  height: 1.5em;
  margin-top: -1px;
}

input[type='radio'] {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #a9a9a9;
  border-radius: 50%;
  outline: none;
  float: left;
}

input[type='radio']:hover {
  border: 1px solid #3CB18A;
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type='radio']:checked:before {
  background: #3CB18A;
}

:-moz-placeholder {
  color: #A9AAAC;
  font-weight: 400;
  font-size: 22px;
  font-family: "Bernina", sans-serif;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #A9AAAC;
  font-weight: 400;
  font-size: 22px;
  font-family: "Bernina", sans-serif;
  opacity: 1;
}

.rowmix {
  float: left;
  width: 100%;
  margin-top: 25px;
  clear: both;
}

.custominput {
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #DCDCDC;
  border-radius: 8px;
  background-color: #FFF;
  font-size: 22px;
  width: 100%;
}

.rowmix .col-6 {
  width: 49.5%;
  margin-right: 1%;
  float: left;
}

.rowmix .col-6:last-child {
  margin-right: 0;
  position: relative;
}

.mt20 {
  margin-top: 20px;
  color: #A9AAAC;
}

.radio-spacer {
  margin-top: 20px;
  padding-bottom: 15px;
}

.unithash {
  color: #3CB18A;
  float: left;
  width: 10%;
  padding-top: 5px;
  position: absolute;
}


/*-----------media-----*/

@media only screen and (max-width:320px) {
  .rowmix label,
  .form label {
    padding-left: 0px;
    font-size: 16px;
  }
  .form label {
    font-size: 16px;
  }
  .form input[type="text"],
  .form input[type="password"],
  .form input[type="email"] {
    padding: 15px;
  }
  .radio span {
    font-size: 16px;
  }
  .section-form h3 {
    font-size: 32px;
  }
  .store-badge {
    width: 70%;
  }
}

@media only screen and (max-width:480px) {
  #form input {
    font-size: 18px;
  }
  #form button {
    font-size: 24px;
  }
   ::-webkit-input-placeholder {
    font-size: 16px;
  }
  .store-badge {
    width: 70%;
  }
}

:-moz-placeholder {
  font-size: 16px;
}

:-ms-input-placeholder {
  font-size: 16px;
}

@media only screen and (max-width:640px) {
  .form-wrapper {
    max-width: 476px;
    width: 100%;
  }
}
