@font-face {
    font-family: "Gotham";
    src: url("../assets/fonts/Gotham.ttf");
}
@font-face {
    font-family: "Bernina";
    src: url("../assets/fonts/Bernina.ttf");
}
.container {
    width: 27%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    margin-top: 14%;
}
.container .grid{
	margin:0 auto;
}
.section {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 69%;
    height: 55%;
    margin-top: 11%;
    margin-left: 15%;
}
h2,b{
	font-family: "Gotham";
}
p{
	font-family: "Bernina";
}
.image-cont{
    /*line-height: 36px;*/
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 10px
}
img {
    max-width: 100%;
    background-repeat: no-repeat;
}
