@font-face {
    font-family: "Gotham";
    src: url("../assets/fonts/Gotham.ttf");
}
@font-face {
    font-family: "Bernina";
    src: url("../assets/fonts/Bernina.ttf");
}
.container {
    width: 27%;
    height: 100%;
    margin: 0 auto;
    margin-top: 14%;
    background-repeat: no-repeat;
}
.container .grid{
	margin:0 auto;
}
.title {
    font-size: 19pt;
    color: #35373a;
    text-align: -webkit-center;
    margin: 0 auto;
    width: 75%;
}
a:link {
    text-decoration: none;
}
footer{
	width:100%;
	float:left;
	margin-top:5%;
	text-align:center;
	margin-bottom: 10px;
}

img{
	max-width:100%;
	max-height:100%;
}

div#Email {
    margin-top: 6%;
    font-size: 12pt;
    text-align: center;
    font-size: 12pt;
    color: #A9AAAC;
    width: 74%;
    margin: 0 auto;
}

div#Send {
    margin-top: 20%;
}
div#Try {
    margin-top: 35%;
}

.column {
	text-align: center;
	font-family: "Bernina";
}