@font-face {
    font-family: "Gotham";
    src: url("../assets/fonts/Gotham.ttf");
}
@font-face {
    font-family: "Bernina";
    src: url("../assets/fonts/Bernina.ttf");
}
.container {
	width:100%;
	float:left;
	margin-top:200px;
}
.container .grid{
	width:50%;
	margin:0 auto;
	text-align:center;
	    margin-bottom: 10px;
}
.title {
    margin-left: 15px;
    font-family: Gotham;
    font-size: 24pt;
    color: #35373a;
}
a:link {
    text-decoration: none;
}
footer{
	width:100%;
	float:left;
	margin-top:5%;
	/* margin:0 auto; */
	text-align:center;
	margin-bottom: 10px;
}