@font-face {
    font-family: "Gotham";
    src: url("../assets/fonts/Gotham.ttf");
}
@font-face {
    font-family: "Bernina";
    src: url("../assets/fonts/Bernina.ttf");
}
.Unitmissing {
    width: 27%;
    height: 100%;
    margin: 0 auto;
    margin-top: 14%;
    background-repeat: no-repeat;
}
.Unitmissing .grid {
    margin: 0 auto;
}
.Unitmissing .title {
    font-size: 19pt;
    color: #35373a;
    text-align: -webkit-center;
    margin: 0 auto;
    width: 75%;
}
.grid .column1 {
    margin-top: 6%;
    font-size: 12pt;
    text-align: center;
    font-size: 12pt;
    color: #A9AAAC;
    width: 74%;
    margin: 0 auto;
}
.grid .column2 {
    margin-top: 20%;
    color: #3CB18A;
}
.grid .column3 {
    margin-top: 35%;
    color: #3CB18A;
    cursor: pointer;
}
.grid .column {
    text-align: center;
    font-family: "Bernina";
    cursor: pointer;
}