/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Gotham";
    src: url("./assets/fonts/Gotham.ttf");
}
@font-face {
    font-family: "Bernina";
    src: url("./assets/fonts/Bernina.ttf");
}